:root {
	--blue-bg: #B7A795;
	--blue-fg: black;
	--blue-dark-bg: #AA9378B3;
	--blue-border: black;

	--reverse-blue-bg: #0000009e;
	--reverse-blue-fg: #D2BFA8;

	--orange-bg: #000000C9;
	--orange-dark-bg: #000000C9;
	--orange-fg: #bf0000;
	--orange-text-shadow: #ff1f1f;
	--orange-border: rgba(255, 0, 48, 0.7);

	--reverse-orange-bg: #ff935eBA;
	--reverse-orange-fg: #1E0E03;

	--main-opaque-bg: #052F2B;
	--gr: #4d4d4de0;
}

@font-face {
	font-family: Orbitron;
	src: url("../fonts/Grenze_Gotisch/GrenzeGotisch.ttf");
}
@font-face {
	font-family: RobotoMono;
	src: url("../fonts/Roboto_Mono/RobotoMono-Regular.ttf");
}
@font-face {
	font-family: HandWriting;
	src: url("../fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf");
}

html, body {
	height: 100%;
	margin: 0;
	font-family: sans-serif;
	overflow: hidden; /* regression ? */
}

#map {
	width: 100%;
	height: 100%;
}

#BottomRightPanel {
	position: absolute;
	width: 20em;
	bottom: 0;
	right: 2em;
	background: var(--blue-bg);
	color: var(--blue-fg);
	z-index: 500;
	padding: 1em;
	margin: 0;
	transition: visibility 0.25s, opacity 0.25s;
}
#BottomRightPanel::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
        background-image: url("../assets/paper_page.png");
    transform: scaleY(1.5) scaleX(1.2);
	z-index: -1;
	pointer-events: none;
}

#BottomRightPanel.hidden {
	visibility: hidden;
	opacity: 0;
}
#BottomRightPanel > .close {
	position: absolute;
	right: 0;
	top: 0;
	margin: 8px;
	padding: 6px 14px;
}
#BottomRightPanel > .content {
	margin-right: 1.5em;
}
#BottomRightPanel > .content > * {
	margin: 3px;
}

#BottomRightPanel > h1 {
	font-size: 2rem;
    text-shadow: 0 0 5px var(--blue-text-shadow);
}

#BottomLeftPanel {
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--blue-bg);
    color: var(--blue-fg);
    z-index: 500;
	/*
	font-family: RobotoMono;
	font-size: 1.5em;
	position: absolute;
	width: 20em;
	bottom: 0;
	left: 0;
	background: var(--blue-bg);
	color: var(--blue-fg);
	z-index: 500;
	padding: 1em;
	margin: 0.5em;
	clip-path: polygon(0 0, calc( 100% - 30px ) 0px, 100% 30px, 100% 100%, 30px 100%, 0 calc( 100% - 30px), 0 50% );
	*/
}


@keyframes drop_in {
	0% {
		transform: translateY(-100%);
	}
	30% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}
#TopLeftPanel {
	font-family: Orbitron;
	font-size: 2.5rem;
	position: absolute;
	top: 0;
	left:0;
	margin: 0;
	padding: 0.2em;
	width: 6em;
	z-index: 500;
	color: var(--blue-fg);
	text-shadow: 0 0 5px var(--blue-text-shadow);
	transition: 0.4s;
	animation-name: drop_in;
	animation-duration: 2s;
}

#TopLeftPanel::before {
	pointer-events: none;
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
        background-image: url("../assets/paper_page.png");
    transform: scaleY(-1.7) scaleX(-1.2);
	z-index: -1;
}

#TopLeftPanel.warning {
	background: var(--orange-bg);
	color: var(--orange-fg);
	text-shadow: 0 0 5px var(--orange-text-shadow);
}
#TopRightPanel {
    font-size: 1.25em;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 1em;
	padding: 0.5em 0.5em 1em 1em;
    color: var(--blue-fg);
    z-index: 500;
    animation-name: drop_in;
    animation-duration: 2s;
}

#TopRightPanel::before {
	pointer-events: none;
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-image: url("../assets/paper_page.png");
    transform: scaleY(-1.5) scaleX(1.2);
	z-index: -1;
}

#LatLang {
	text-shadow: 0 0 5px var(--blue-text-shadow);
}


#Tooltip {
	position: absolute;
	z-index: 990;
	color: var(--blue-fg);
	transition: visibility 0.2s, opacity 0.2s, transform 0.3s;
	padding: 0.5em;
}
#Tooltip * {
	margin: 2px;
	padding: 2px;
}

#Tooltip::before {
	pointer-events: none;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-image: url("../assets/paper_page.png");
	transform: scale(1.2);
	background-size: 100% 100%;
}

#Tooltip.hidden {
	visibility: hidden;
	opacity: 0;
	transform: scaleY(0.1);
}

#ContextMenu {
	position: absolute;
	z-index: 950;
	background: var(--blue-bg);
	color: var(--blue-fg);
	border: 0.15em solid var(--blue-border);
	transition: visibility 0.2s, opacity 0.2s, transform 0.3s;
}
#ContextMenu.hidden {
	visibility: hidden;
	opacity: 0;
	transform: scaleY(0.1);
}
#ContextMenu > div {
	padding: 0.1em 0.25em;
	cursor: pointer;
	user-select: none;
}
#ContextMenu > div:hover {
	background: var(--reverse-blue-bg);
	color: var(--reverse-blue-fg);
}


#Overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: visibility 0.5s, opacity 0.5s;
	z-index: 932;
	background: #040404B3;
	color: var(--blue-fg);
}

#Overlay.warning {
	background: var(--orange-dark-bg);
	color: var(--orange-fg);
}

#Overlay.hidden {
	visibility: hidden;
	opacity: 0;
}

#Centred {
	width: 30em;
	height: 100%;
	margin: 0 auto;
	top: 0;
	position: absolute;
	padding: 0;
	left: 0;
	right: 0;
}
#Centred::before {
	content: "";
    position: absolute;
    width: 124%;
    height: 100%;
    z-index: -1;
    background-image: url("../assets/paper_page.png");
    background-size: cover;
    transform: translateX(-10%) scaleY(1.2);
}
#Overlay.warning #Centred {
	background: var(--orange-dark-bg);
}
#OverlayClose {
	position: absolute;
	top: 0;
	left: calc(100% - 5em);
	/* text-shadow: 0 0 5px var(--blue-text-shadow); */
	margin: 1em;
}
#CentredContent {
	margin: 1.4em;
}

h1,
h2 {
	font-weight: bold;
	font-size: 2.5em;
	font-family: Orbitron;
	margin: 0.4em 0;
}

.warning h1,
.warning h2 {
	text-shadow: 0 0 5px var(--orange-text-shadow);
}

.blockButton {
	text-shadow: 0 0 5px var(--blue-text-shadow);
	background: var(--blue-dark-bg);
	border: 0.15em solid var(--blue-border);
	color: var(--blue-fg);
	padding: 0.6em 1.2em;
	margin: 0.2em;
	cursor: pointer;
	text-align: center;
	user-select: none;
	/*
	background-image: url("../assets/paper_page.png");
	background-size: cover;
	*/
	-webkit-box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.81);
	-moz-box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.81);
	box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.81);
}

.blockButton:hover {
	background: var(--reverse-blue-bg);
	color: var(--reverse-blue-fg);
}
.warning .blockButton {
	border: 0.15em solid var(--orange-border);
	text-shadow: 0 0 3px var(--orange-text-shadow);
	background: var(--orange-dark-bg);
	color: var(--orange-fg);
}
.warning .blockButton:hover {
	background: var(--reverse-orange-bg);
	color: var(--reverse-orange-fg);
}

.blockButton.disabled {
	text-shadow: none;
    color: var(--gr);
	border: 0.15em solid var(--gr);
	cursor: not-allowed;
}
.blockButton.disabled:hover {
	background: var(--blue-dark-bg);
	color: var(--gr);
}

.blockButton.alt {
	border: 0.15em solid var(--orange-border);
	text-shadow: 0 0 3px var(--orange-text-shadow);
	background: var(--orange-dark-bg);
	color: var(--orange-fg);
}
.blockButton.alt:hover {
	background: var(--reverse-orange-bg);
	color: var(--reverse-orange-fg);
}

button {
	text-shadow: 0 0 5px var(--blue-text-shadow);
	background: var(--blue-dark-bg);
	color: var(--blue-fg);
	border: 0.15em solid var(--blue-border);
	padding: 0.6em 1.2em;
	margin: 0.2em;
	cursor: pointer;
	text-align: center;
}
button:hover {
	background: var(--reverse-blue-bg);
	color: var(--reverse-blue-fg);
}

#MenuButton {
	top: 3em;
	z-index: 600;
	position: absolute;
	font-size: 1.5em;
	font-family: Orbitron;
}


#OverlayLeftBar {
	width: 7em;
    height: 100%;
    top: 0;
    position: absolute;
    padding: 0;
    left: 0;
	display: flex;
	flex-direction: column;
}

#OverlayLeftBar::before {
	pointer-events: none;
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-image: url("../assets/paper_page.png");
	transform: scaleY(-1.5) scaleX(-1.5);
	z-index: -1;
}

#OverlayLeftBar > .block {
	margin-top: auto;
	margin-bottom: auto;
}

#OverlayLeftBar .blockButton {
	font-family: Orbitron;
    margin: 1em 1em;
    text-align: center;
    padding: 0.75em 0em;
}

#OverlayLeftBar > hr {
	color: var(--blue-fg);
}

#OverlayContent {
	position: absolute;
	width: 100%;
	height: 100%;
}

#OverlayRight {
	position: absolute;
	height: 100%;
	width: calc(100% - 7em);
	left: 7em;
	display: flex;
	flex-wrap: wrap;
}

.halfBox {
	width: 50%;
	height: 50%;
}

.contentBox {
	margin: 1em;
    padding: 2em;
    color: var(--blue-fg);
    background-image: url("../assets/paper_page.png");
    background-size: cover;
}

.contentBox h1 {
	margin: 0 1em;
    font-family: Orbitron;
}

.barWrap {
	font: 15px RobotoMono;
	text-align: right;
	margin: 1em;
}

.horizontalBarWrap {
	display: flex;
	flex-direction: row;
	margin: 0.2em 0;
}

.horizontalBarWrap > div {
	padding: 0.3em;
	height: 1em;
}

.horizontalBarWrap .horizontalBar {
	padding: 0;
	background: rgba( 200, 255, 215, 0.8 );
	color: #031E11;
	overflow: hidden;
	height: 1.6em;
}

.horizontalBar p {
	margin: 0.3em;
}


#TopBar {
	position: absolute;
	left: 0;
	width: 20em;
	z-index: 599;
	right: 0;
	margin: 0 auto;
	display: flex;
}

#TopBar > * {
	flex-grow: 1;
}



input[type="file"] {
    display: none;
}

input[type="text"] {
	text-shadow: 0 0 5px var(--blue-text-shadow);
	background: var(--blue-dark-bg);
	color: var(--blue-fg);
	border: 0.15em solid var(--blue-border);
	padding: 0.2em;
	margin: 0.2em;
	font-family: RobotoMono;
}

#PanelContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

#PanelContainer > div {
	margin: 0;
	height: 100%;
}

#LeftPanel {
	position: relative;
	flex-grow: 1;
}

#RightPanel {
	width: 30em;
	color: var(--blue-fg);
	position: relative;
	overflow: visible;
}

#RightPanel::before {
	pointer-events: none;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 900;
	background-image: url("../assets/paper_page.png");
	background-size: cover;
	transform: scale(1.2);
}
@keyframes book_cover {
	0% {
		transform: perspective(2000px) rotate3d(0,1,0,0deg) scale(1.1);
	}
	30% {
		transform: perspective(2000px) rotate3d(0,1,0,0deg) scale(1.1);
	}
	100% {
		transform: perspective(2000px) rotate3d(0,1,0,90deg) scale(1.1);
	}
}
.disabled #RightPanel::after {
	animation-play-state: paused;
}
#RightPanel::after {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 909;
	background-image: url("../assets/book_cover.png");
	background-size: cover;
	transform-origin: right;
	transform: perspective(2000px) rotate3d(0,1,0,90deg) scale(1.1);
	animation-name: book_cover;
	animation-duration: 2s;
}

#RightPanelContent {
	position: relative;
	padding: 0 1em;
	/* idk why, but vertical padding breaks scroll y */
	overflow-y: scroll;
	z-index: 901;
	height: 100%;
}

#HUD {
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
	pointer-events: none;
}

#HUD > * {
	pointer-events: auto;
}

.disabled {
	text-shadow: none;
    color: var(--gr);
}


.selectList {
	user-select: none;
	border: 0.15em solid var(--blue-border);
	margin: 2em 0em;
	background: var(--blue-dark-bg);
}

.selectList > div {
	padding: 0.1em 0.5em;
	display: flex;
	cursor: pointer;
}
.selectList.wide > div {
	padding: 0.4em 0.5em;
}

.selectList > .currentIndex::before {
	content: "▶ ";
}
.selectList.wide > div::before {
	content: "▶ ";
	padding: 0.5em 1em 0.5em 0.5em;
	position: absolute;
    transform: translateX(-2.5em);
    opacity: 0;
	transition: opacity 0.5s;
}
.selectList.wide > .selected::before {
	opacity: 1;
}
.selectList.wide > div {
	transition: padding 0.5s;
	position: relative;
}
.selectList.wide > .selected {
	padding-left: 3em;
}

.selectList > div:hover {
	background: var(--reverse-blue-bg);
	color: var(--reverse-blue-fg);
}
.selectList > div.hover {
	background: var(--reverse-blue-bg);
	color: var(--reverse-blue-fg);
}

.policyControls {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}


.rightFlexFloat {
	flex-grow: 1;
	text-align: right;
}

summary {
	cursor: pointer;
}
