@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.divIcon {
	pointer-events: auto;
	/*
	animation-name: fadeIn;
	animation-duration: 0.4s;
	*/
}

.markerDiv {
	width: 100%;
	height: 100%;
	border-radius: 100%;
	background: var(--marker-bg);
	transition: transform 0.25s;
}

.markerDiv:hover {
	transform: scale(1.2);
}

.markerDiv > img {
	position: relative;
	top: 15%;
	left: 15%;
	width: 70%;
	height: 70%;
}


/* Modifying the tiles */
/*
.leaflet-tile-pane {
filter: brightness(80%);
}
 */


.descMarker,
.blockMarker {
	/* text-shadow: 0 0 5px var(--blue-text-shadow); */
	/* background: var(--blue-dark-bg); */
	background: linear-gradient(to top, var(--blue-dark-bg), var(--grad-light));
	color: var(--blue-fg);
	padding: 0.6em 1.2em;
	margin: 0.2em;
	cursor: pointer;
	text-align: center;
	user-select: none;
	border-radius: 32px;
	box-shadow: 0px 0px 2px 2px var(--shadow), inset 0px 0px 12px 0px var(--light-shadow);
	position: relative;
	z-index: 0;
	/* overflow: hidden; */
}
.descMarker::after,
.blockMarker::after {
	content: '';
	position: absolute;
	top: 2px;
	left: 5px;
	width: calc(100% - 10px);
	height: 50%;
	background: linear-gradient(to bottom, var(--light-grad-top), var(--light-grad-bottom));
	border-radius: 32px;
	z-index: -1;
}

.blockMarker:hover {
	background: var(--dark-accent);
	/* background: var(--reverse-blue-bg); */
	/* color: var(--reverse-blue-fg); */
}

.blockMarker:hover::after,
.blockMarker.hover::after {
	opacity: 0;
}
.blockMarker.hover {
	background: var(--dark-accent);
}

.numberMarker {
	font-size: 1.5em;
	background: var(--blue-dark-bg);
	/* background: linear-gradient(to top, var(--blue-dark-bg), var(--grad-light)); */
	color: var(--blue-fg);
	cursor: pointer;
	text-align: center;
	margin-top: 0.45em;
	box-shadow: inset 0px 0px 2px 2px var(--shadow), inset 0px 0px 12px 0px var(--light-shadow);
	border-radius: 8px;
}

.numberMarker:hover {
	background: var(--dark-accent);
}

.numberMarker.hover {
	background: var(--dark-accent);
}


.descMarker.neg {
	background: var(--orange-dark-bg);
	color: var(--orange-fg);
}

